In [1]:
import os # Miscellaneous operating system interfaces

In [2]:
import pandas as pd

In [3]:
import numpy as np

In [4]:
import datetime as dt

In [5]:
%cd "C:\Users\magse\Dropbox\Pruebas"

C:\Users\magse\Dropbox\Pruebas

In [6]:
cwd = os.getcwd()

In [7]:
cwd

'C:\\Users\\magse\\Dropbox\\Pruebas'

In [8]:
file = "1.1.1.TCM_Serie histórica IQY.xlsx" # Creo una variable con el nombre del archivo

In [9]:
file

'1.1.1.TCM_Serie histórica IQY.xlsx'

In [10]:
#pip install xlrd==1.2.0 #la ultima versión de xlrd tiene problemas importando xlsx, hay que intalar esta versión previa.

In [11]:
serie = pd.read_excel(file, header=7, nrows=10514, usecols="A,B")

In [12]:
serie

      Fecha (dd/mm/aaaa)  Tasa de cambio representativa del mercado (TRM)
0             1991-11-27                                           693.32
1             1991-11-28                                           693.99
2             1991-11-29                                           694.70
3             1991-11-30                                           694.70
4             1991-12-01                                           643.42
...                  ...                                              ...
10509         2020-09-04                                          3653.23
10510         2020-09-05                                          3702.62
10511         2020-09-06                                          3702.62
10512         2020-09-07                                          3702.62
10513         2020-09-08                                          3702.62

[10514 rows x 2 columns]

In [13]:
serie.head(10)

  Fecha (dd/mm/aaaa)  Tasa de cambio representativa del mercado (TRM)
0         1991-11-27                                           693.32
1         1991-11-28                                           693.99
2         1991-11-29                                           694.70
3         1991-11-30                                           694.70
4         1991-12-01                                           643.42
5         1991-12-02                                           643.42
6         1991-12-03                                           639.22
7         1991-12-04                                           635.70
8         1991-12-05                                           631.51
9         1991-12-06                                           627.16

In [14]:
serie.tail(10)

      Fecha (dd/mm/aaaa)  Tasa de cambio representativa del mercado (TRM)
10504         2020-08-30                                          3760.38
10505         2020-08-31                                          3760.38
10506         2020-09-01                                          3745.41
10507         2020-09-02                                          3683.28
10508         2020-09-03                                          3653.70
10509         2020-09-04                                          3653.23
10510         2020-09-05                                          3702.62
10511         2020-09-06                                          3702.62
10512         2020-09-07                                          3702.62
10513         2020-09-08                                          3702.62

In [15]:
serie=serie.rename(columns={"Fecha (dd/mm/aaaa)": "Fecha", "Tasa de cambio representativa del mercado (TRM)": "Tasa"})

In [16]:
serie.columns

Index(['Fecha', 'Tasa'], dtype='object')

In [17]:
serie["mesaño"]=serie["Fecha"].dt.to_period("M")

In [18]:
serie

           Fecha     Tasa   mesaño
0     1991-11-27   693.32  1991-11
1     1991-11-28   693.99  1991-11
2     1991-11-29   694.70  1991-11
3     1991-11-30   694.70  1991-11
4     1991-12-01   643.42  1991-12
...          ...      ...      ...
10509 2020-09-04  3653.23  2020-09
10510 2020-09-05  3702.62  2020-09
10511 2020-09-06  3702.62  2020-09
10512 2020-09-07  3702.62  2020-09
10513 2020-09-08  3702.62  2020-09

[10514 rows x 3 columns]

In [19]:
pd.value_counts(serie.mesaño)   #Tabla de frecuencias - las organiza de mayor a menor frecuencia

2020-08    31
2013-07    31
2014-12    31
2013-08    31
2012-12    31
           ..
2013-02    28
2006-02    28
1994-02    28
2020-09     8
1991-11     4
Freq: M, Name: mesaño, Length: 347, dtype: int64

In [20]:
pd.value_counts(serie.mesaño).to_frame().reset_index()   # ¿Qué información adicional hay aquí? ¿Se puede usar la tabla como un objeto de python?

       index  mesaño
0    2020-08      31
1    2013-07      31
2    2014-12      31
3    2013-08      31
4    2012-12      31
..       ...     ...
342  2013-02      28
343  2006-02      28
344  1994-02      28
345  2020-09       8
346  1991-11       4

[347 rows x 2 columns]

In [21]:
serie_mesaño_unavar=serie.groupby('mesaño')[['Tasa']].mean() # usar todos los paréntesis para que se cree como un dataframe

In [22]:
serie_mesaño_unavar.columns ## la columna de indexación es mesaño.

Index(['Tasa'], dtype='object')

In [23]:
 serie["año"]=serie['mesaño'].dt.year

In [24]:
 serie["mes"]=serie['mesaño'].dt.month

In [25]:
serie_mesaño_dosvar=serie.groupby(['año','mes'])[['Tasa']].mean() # los paréntesis cuadrado agrupan variables en el by

In [26]:
serie_mesaño_dosvar #Las variables en by son de indexación

                 Tasa
año  mes
1991 11    694.177500
     12    630.412581
1992 1     644.058065
     2     635.671724
     3     640.501935
...               ...
2020 5    3858.191613
     6    3701.604333
     7    3657.866774
     8    3783.025806
     9    3693.262500

[347 rows x 1 columns]

In [27]:
serie_mesaño_dosvar.columns

Index(['Tasa'], dtype='object')